html {
    margin: 0;
    padding: 0;
}

body {
    margin: 3px;
    padding: 0;
    font-size: medium;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.footer {
    margin: 0;
    padding: 0;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}

.diceimg {
    width: 1.25em;
    height: 1.25em;
    vertical-align: middle;
}
.randbutton {
    background-color: aqua;
    border: 1px solid black;
    height: 1em;
    color: black;
    font-size: x-large;
    border-radius: 20%;
    padding: 2px;
    margin: -5px -5px;
    display: inline;
    vertical-align: middle;
}

button {
    background-color: aqua;
    color: black;
    font-size: x-large;
    border-radius: 20%;
    padding: 2px;
    margin: -2px -2px;
}

.simpleButton {
    background-color: aqua;
    color: black;
    font-size: medium;
    border-radius: 0%;
    padding: 1px;
    margin: -2px -2px;
}


table, th, td {
    text-align: center;
}


.btnManualUrn {
    border: none;
    padding: 3px;
    display: inline-block;
    font-size: 16px;
    margin: 3px 1px;
    border-radius: 30%;
}

.btnManualUrn0 {
    border: none;
    padding: 3px;
    display: inline-block;
    font-size: 16px;
    margin: 3px 1px;
    border-radius: 30%;
    background-color: #ffa500;
    color: #000000;
}

.btnManualUrn1 {
    border: none;
    padding: 3px;
    display: inline-block;
    font-size: 16px;
    margin: 3px 1px;
    border-radius: 30%;
    background-color: #006400;
    color: #FFFFFF;
}

.btnManualBead {
    border: none;
    padding: 10px;
    display: inline-block;
    font-size: 12px;
    margin: 1px 1px;
    border-radius: 50%;
}

.button0 {
    background-color: #ffa500;
    color: #ffa500;
    border: none;
    padding: 10px;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    border-radius: 50%;
}

.button1 {
    background-color: #006400;
    color: #006400;
    border: none;
    padding: 10px;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    border-radius: 50%;
}

.clearbtn {
    background-color: lightpink;
}

.block {
    display:inline-block;
    text-align: center;
}

table {
    text-align:right;
}

.area {
  fill: rgba(0, 0, 255, 0.3);
}

.ssarea {
    fill: rgba(255, 0, 0, 0.3);
}